/*.delivery-plans-board .card-content .scroll-hidden {
	flex-direction: row;
	overflow: initial;
}
.delivery-plans-board .card-content .scroll-hidden > div {
	position: sticky;
  left: 164px;
}
   */


.ttt-licenseexpired {
	display: none;
}

/*------ for poker -----*/
.work-item-description .html-content {
	font-size: large;
}
.bolt-textfield-input {
	color: var(--text-primary-color,rgba(0,0,0,.9));
	/* rgba(255, 255, 255, 0.95) */
}
.card--frame, .card--flip {
	color: rgba(255, 255, 255, 0.95)
	/*var(--text-primary-color,rgba(0,0,0,.9));*/
}
/*------------*/

#taskboard-table-body {
	table-layout: fixed;
}

/* Fix for dark theme*/
.selected-artifact-path-textbox {
	color: #000;
}

.dev--work-item-style .tbTile:not(.ui-draggable-dragging){
	width:auto;
}

.query-editor .value .field-filter-value-control.identity-picker-container {
	height: auto !important;
}

/* Стилизация WI 2018 */
.dev--work-item-style .form-grid .control {
	display: flex;
	align-items: center;
}
.section1.wide-section .tfs-collapsible-content .control {
	display: inherit !important;
}

.dev--work-item-style .new-work-item-view .witform-layout .control .workitemlabel.label-control {
	min-width: 130px;
}
.percent-wi {
	float: left;
	display: flex;
	height: 25px;
	align-items: center;
	font-weight: bold;
	font-size: large;
	border-radius: 5px;
	padding: 0 5px;
}
.percent-wi.percent--0 {
	background-color: #e2e2e2;
}
.percent-wi.percent--25 {
	background-color: #fd9898;
}
.percent-wi.percent--50 {
	background-color: #fbff00;
}
.percent-wi.percent--75 {
	background-color: #4be6ff;
}
.percent-wi.percent--100 {
	background-color: chartreuse;
}
.form-dark-theme .percent-wi.percent--0 {
	background-color: #919191;
}
.form-dark-theme .percent-wi.percent--25 {
	background-color: #ea5656;
}
.form-dark-theme .percent-wi.percent--50 {
	background-color: #fbff00;
	color: black;
}
.form-dark-theme .percent-wi.percent--75 {
	background-color: #42b8cb;
}
.form-dark-theme .percent-wi.percent--100 {
	background-color: #6ad500;
}


.state--Low {
	color: #0ea850;
}
.state--Medium {
	color: #056fbd;
}
.state--High {
	color: #f9c402;
	font-weight: bold;
}
.state--Critical {
	color: #ec0902;
	font-weight: bold;
}
.state--Blocker {
	color: #ec0902;
	font-weight: bold;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.row--not-important {
	opacity: 0.3;
	transition-duration: 300ms;
}
.row--not-important:hover {
	opacity: 1;
}

.row--very-important {
	animation: blink 2s steps(5, start) infinite;
}
@keyframes blink {
	0%, 100% {
		background-color: rgba(255, 0, 0, 0);
	}
	50% {
		background-color: rgba(255, 0, 0, 0.3);
	}
}


/* перенос кнопки шаблоны */
.toolbar ul.menu-bar>.menu-item.drop-visible.focus.hover {
	padding: 5px;
	border: none;
}
.work-item-form-main .work-item-form-main-header .work-item-form-toolbar-container .toolbar .menu-bar .menu-item.focus:not(.disabled):not(:hover) {
	padding: 5px;
	border: none;
}

.dev-panel {
	position: absolute;
	background-color: #111;
	color: #eee;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0;
	opacity: 0;
	transition-duration: 0.7s;
	z-index: 100000;
}

.dev-panel__header {
	margin-left: 20px;
	font-size: large;
}

.dev-panel label{
	color: #eee;
}

.dev-panel.showed {
	height: 60px;
	opacity: 1;
}

/*
.work-item-type-icon[aria-label=Requirement] {
    color: rgb(119, 59, 147) !important;
}
.work-item-type-icon[aria-label=LeadTask] {
    color: rgb(0, 156, 204) !important;
}*/


/*********** FixVersion, AffectedVersion ***********/
.set-value-button__wrapper {
	display: flex;
	flex-flow: row wrap;
}
.set-value-button {
	flex: 1 1 calc(${Math.floor(100 / selectNLastVersions)}% - 4px);
	background-color: rgba(175, 175, 175, .2);
	margin: 2px;
	border: none;
}
.set-value-button:hover {
	background-color: rgba(175, 175, 175, .4);
}
